# CODEOWNERS

# Default owner
* @RaveCore-Labs

# Container stuff
Containerfile @RaveCore-Labs
.github/workflows/ @RaveCore-Labs

# Build files
build_files/ @RaveCore-Labs

# Website
docs-src/ @RaveCore-Labs