# CODEOWNERS

# Default owner
* @ravecorelabs

# Container stuff
Containerfile @ravecorelabs
.github/workflows/ @ravecorelabs

# Build files
build_files/ @ravecorelabs

# Website
docs-src/ @ravecorelabs